<div class="row-fluid">
	<div class="span5 offset1">
		<div class="UserProfile">

			<h3>My profile</h3>
			<p>User: <b><%= @user.name %></p></b>
			<p>Email: <b><%= @user.email if @user.email %></p></b>
			<p>Occupation: <b><%= @user.occupation_list %></p></b>
			<p>Gender: <b><%= @user.gender_list %></p></b>
			<p>Moving From: <b><%= @user.moving_from_list %></p></b>
			<p>Moving To: <b><%= @user.moving_to_list %></p></b>
			<p>Single, Couple or Family: <b><%= @user.family_type_list %></p></b>
			<p>Age Range: <b><%= @user.age_bracket_list %></p></b>
			<p>Interests: <b><%= @user.interest_list %></p></b>
			<p>About Me: <b><%= @user.about_me %></p></b>
			<% if @user.username.present? %>
			<p>Username: <b><%= @user.username %></p></b>
			<% else %>
			<% end %>
			<p>Photo:<br /> <%= image_tag @user.avatar.url(:thumb) %></p>

			<br />
			<% if current_user == @user %>
			<%= link_to 'Edit profile', edit_user_registration_path %>
			<% end %>
		</div>
	</div>

	<% if current_user == @user %>

	<div class="span5">
		<div class="MemberDisplay">

			<%= render partial: 'shared/connections' %>
			<br /><br />
			<%= render partial: 'shared/messages' %>

	<% else %>


	<% end %>



		</div>
	</div>
</div>

