<h3> Your friends </h3>

			<% if current_user %>

				<% @friends.each do |friend| %>

						<p>Friends: <%=link_to friend.name, friend %>

							<% if current_user.friend_with? friend %>

							<%= link_to "Remove", friend_path(friend), :method => :delete, :class => "btn-mini btn-danger" %>

							<% end %>

							<%= link_to 'Send message', new_friend_message_path(friend), :class => 'btn-mini btn' %>

						<% end %>

				<% unless @user.friends %>

<h3> Friend requests </h3>

					<% @users.each do |user| %>

					<% if user.invited? current_user %>
						<p>Requests: <%=link_to user.name, user %>
												
							<%= link_to "Confirm friend", friend_path(user), :method => :put, :class => "btn-mini btn-primary" %> 

							<% end %>

						<% end %></p>

				<% end %>

			<% end %>


