	<div class="span5">
		<div class="MemberDisplay">
			<ul>

<% if @user.id %>

		  <% @user.friendships.each do |friendship| %>
		  <li>
		    	<%= friendship.friend.name %> 
		    (<%= link_to "remove", friendship, :method => :delete, :class => "btn-small btn-danger" %>)<br />
 		    	<%= image_tag friendship.friend.avatar(:thumb) %>
		  </li>
		  <% end %> 
		  	<% @user.inverse_friends.each do |inverse_friendship| %>
		  <li>
		  	<%= inverse_friendship.name %>
		  	<%= link_to "remove", @user.inverse_friendships, :method => :delete, :class => "btn-small btn-danger" %><br />
 		    <%= image_tag inverse_friendship.avatar(:thumb) %>

		  </li>
		  <% end %>
		</ul>

		<% else %>

			<% @user.friendships.each do |friendship| %>
		  <li>
		    	<%= friendship.friend.name %> 
		     	<%= image_tag friendship.friend.avatar(:thumb) %>
		  </li>
		  <% end %> 
		  	<% @user.inverse_friends.each do |inverse_friendship| %>
		  <li>
		  	<%= inverse_friendship.name %>
 		    <%= image_tag inverse_friendship.avatar(:thumb) %>
 		   <% end %>
 		   
 		  <% end %> 
		</div>
	</div>

