
<% if user_signed_in? %>

<h3>Welcome back <%= current_user.name %>!</h3>

<% else %>
<h3>Please sign up <%= link_to 'here', new_user_registration_path %></h3>
<% end %> 

	<% @users.each do |user| %>

		<p>User: <%=link_to user.name, user %>

			<% if current_user.friends?(user) %>

				<%= link_to "Remove", current_user.friendships, :method => :delete, :class => "btn-small btn-danger" %>
			<% else %>
				<%= link_to "Add as friend", friendships_path(:friend_id => user.id), :method => :post, :class => "btn-small btn-success" %> </p>
			<% end %>

	<% end %>

	

